.idea/
*.iml
.gradle/
build/
*.db
.dropbox
desktop.ini
bin/*
.settings*
.project
.classpath
settings.gradle
bewertete-uebung-stokalakis-neue_version/
gradle.properties
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradle.properties
