/* adding padding on the top and a background picture*/
body {
  padding-top: 70px;
  background-color: rgba(53, 10, 4, .5);
  background-image:url(../images/background.jpg);
  background-size: cover;
  background-repeat: repeat;

}

.transparent {
	opacity: 0.85;
}

/* overlay for the background picture */
.bg-overlay {
    background: url("../images/overlay.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

/* provide fixed width for labels */
.label {
  min-width: 250px !important;
  display: inline-block !important
}

/* standard jumbotron css starts here (only few changes have been made) */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .jumbotron {
    border-bottom: 0;
  }
  /* standard jumbotron css ends here */
}
